<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h3>Edit <%= resource_name.to_s.humanize %> Info</h3>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>
            <div class="form-group">
              <%= f.label :username %><br />
              <%= f.text_field :username, autofocus: true, class: "form-control" %>
              <%= f.label :email %><br />
              <%= f.email_field :email, class: "form-control" %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
              <%= f.label "New Password" %><br />
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
              <%= f.label "Confirm New Password" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
              <%= f.label :current_password %> <i>(to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
              <%= f.submit "Update", class: "form-control btn btn-default" %>
            </div>
          <% end %>

          <h3>Deactivate Account</h3>
          <%= form_for(resource, as: resource_name, url: user_deactivate_path(resource), html: { method: :post }) do |f| %>
          <p><%= f.submit "Deactivate Account", data: { confirm: "Are you sure?" }, class: "form-control btn btn-default" %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
