
<%= form_for(@narigraph, url: move_for_game_path, remote: true, html: {class: "form-inline"}) do |f| %>
  <%= hidden_field_tag('narigraph[character_id]', character_id) %>
  <%= select_tag(:number_of_dice,
  options_for_select(
  [['1', 1],
  ['2', 2 ],
  ['3', 3],
  ['4', 4]], '2')) %>
  <%= f.label "D" %>
  <%= select_tag(:number_of_sides,
  options_for_select(
  [['4', 4],
  ['6', 6],
  ['8', 8],
  ['10', 10],
  ['12', 12]], '6')) %>
  <%= f.label "+" %>
  <%= select_tag(:modifier,
  options_for_select(
  [['-3', -3],
  ['-2', -2],
  ['-1', -1],
  ['0', 0],
  ['1', 1],
  ['2', 2],
  ['3', 3]], '0')) %>
  <%= f.submit "Roll", class: "btn btn-default" %>
</div>
<% end %>
