<%= form_for(@narigraph, url: game_narigraphs_path) do |f| %>
<!--  may need to re-add remote: true to form_for()-->
<div class="form-group">
    <%= hidden_field_tag('narigraph[game_id]', params[:game_id]) %>
    <%= hidden_field_tag('narigraph[character_id]', character_id) %>
    <%= f.text_area :text, class: "form-control", rows: 3 %>
    <%= f.submit "Do it", class: "form-control btn btn-default" %>
</div>
<% end %>
