<%= form_for(@narigraph, url: game_narigraphs_path, remote: true) do |f| %>
<div class="form-group">
    <%= hidden_field_tag('narigraph[game_id]', params[:game_id]) %>
    <%= hidden_field_tag('narigraph[character_id]', character_id) %>
    <%= f.text_area :text, class: "form-control", rows: 3 %>
    <%= f.submit "Do it", class: "form-control btn btn-default" %>
</div>
<% end %>
