<style>
#narigraph-template {
  display: none;
}
.pagination {
  margin: 0px;
}
.back-btn {
  margin-bottom: 10px;
}
.form-group {
  padding-bottom: 0px;
}

/*@media (max-width: $screen-sm-max) {
  div {
    color: #f8f8f8;
  }
}
why is this doing nothing?? same with .collapse & .hidden-phone
*/
</style>

<div class="container">
  <div class="row">
    <div class="col-sm-2 hidden-xs">&nbsp;</div>
    <div class="col-sm-8 col-xs-12">
      <h1><%= "Game ##{game.id}" %></h1>
      <div class="col-xs-12">
        <div class="pull-left">
          <h4> Begin </h4>
        </div>
        <div class="pull-right">
          <%= will_paginate @narigraphs, :previous_label => 'Next', :next_label => 'Previous' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="narigraphs">
        <%= render @narigraphs.reverse %>
      </div>
    </div>
  </div>
  <% if player && player.active_character %>
  <div class="row">
    <div class="col-sm-2 hidden-xs">&nbsp;</div>
    <div class="col-sm-8 col-xs-12">
      <strong>
        <%= player.active_character.name %>, what do you do?
      </strong>
    </div>
    <div class="col-sm-2 hidden-xs">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-sm-2 hidden-xs">&nbsp;</div>
    <div class="col-sm-8 col-xs-12">
      <%= render partial: 'textForm', locals: {character_id: player.active_character.id} %>
    </div>
  </div>
  <% else %>
    <div class="row">
      <div class="col-sm-2 hidden-xs">&nbsp;</div>
      <div class="col-sm-8 col-xs-12">
        (Create a Character and Set it Active to Participate)
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-2 hidden-xs">&nbsp;</div>
    <div class="col-sm-8 col-xs-12">
      <div class="back-btn pull-left">
      <%= link_to "Back", game_path(game), class: "btn btn-default" %>
      </div>
      <div class="pull-right">
        <%= render partial: 'diceForm', locals: {character_id: player.active_character.id} %>
      </div>
    </div>
    <div class="col-sm-2 hidden-xs">&nbsp;</div>
  </div>


<!-- needed for pusher & javascript to render async correctly -->
  <div id="narigraph-template">
    <div class="row">
      <div class="hidden-xs col-sm-2">&nbsp;</div>
      <div class="col-xs-12 col-sm-8">
        <div class="narigraph">
          <div class="row">
            <div class="col-xs-12">
              <p class="message"></p>
            </div>
            <div class="col-xs-12">
              <div class="pull-right">
                <p><strong></strong>
                  <small></small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">&nbsp;</div>
    </div>
  </div>
</div>

<script>
var pusher = new Pusher('<%= Pusher.key %>');
var channel = pusher.subscribe('test_channel');

$(document).ready(function() {
  channel.bind('posted', function(data) {
    var $template = $('#narigraph-template > *').clone();
    var $message = $template.find('.message');
    var $characterName = $template.find('strong');
    var $timestamp = $template.find('small');
    var $narigraph = $template.find('.narigraph').removeClass('narigraph');
    $narigraph.addClass(data.new_entry.auto_generated ? 'bold-narigraph' : 'narigraph');
    $message.html(data.new_entry.text);
    $characterName.html('- ' + data.character.name);
    $timestamp.html(moment(data.new_entry.created_at).format("MMM D h:mm"));
    $('#narigraphs').append($template);
    $('#narigraph_text').val('');
    $('#narigraph_character_name').val('');
  });
})
</script>
