<style>
#narigraph-template {
  display: none;
}
.pagination {
  margin: 0px;
}
.back-btn {
  margin-bottom: 10px;
}
.form-group {
  padding-bottom: 0px;
}

.narigraph {
  border: 1px solid #e8e8e8;
  padding: 15px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}
.narigraph p {
  margin-bottom: 0px;
}

.narigraph .message {
  font-size: 18px;
  margin-bottom: 10px;
}

.narigraph small {
  color: #B2B2B2;
  padding-left: 10px;
}

.bold-narigraph {
  border: 1px solid #99CCFF;
  padding: 15px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}
.bold-narigraph p {
  margin-bottom: 0px;
}

.bold-narigraph .message {
  font-size: 18px;
  margin-bottom: 10px;
}

.bold-narigraph small {
  color: #B2B2B2;
  padding-left: 10px;
}
</style>

<div class="container">
  <div class="row">
    <div class="col-sm-2 hidden-xs">&nbsp;</div>
    <div class="col-sm-8 col-xs-12">
      <h1><%= "Game ##{game.id}" %></h1>
      <div class="col-xs-12">
        <div class="pull-left">
          <h4> Begin </h4>
        </div>
        <div class="pull-right">
          <%= will_paginate @narigraphs, :previous_label => 'Next', :next_label => 'Previous' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="narigraphs">
        <%= render @narigraphs.reverse %>
      </div>
    </div>
  </div>
  <% if player && player.active_character %>
  <div class="row">
    <div class="col-sm-2 hidden-xs">&nbsp;</div>
    <div class="col-sm-8 col-xs-12">
      <strong>
        <%= player.active_character.name %>, what do you do?
      </strong>
    </div>
    <div class="col-sm-2 hidden-xs">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-sm-2 hidden-xs">&nbsp;</div>
    <div class="col-sm-8 col-xs-12">
      <%= render partial: 'textForm', locals: {character_id: player.active_character.id} %>
    </div>
  </div>
  <% else %>
    <div class="row">
      <div class="col-sm-2 hidden-xs">&nbsp;</div>
      <div class="col-sm-8 col-xs-12">
        <p>(Create a Character and Set it Active to Participate)</p>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-2 hidden-xs">&nbsp;</div>
    <div class="col-sm-8 col-xs-12">
      <div class="back-btn pull-left">
      <%= link_to "Back", game_path(game), class: "btn btn-default" %>
      </div>
      <% if player && player.active_character %>
      <div class="pull-right">
        <%= render partial: 'diceForm', locals: {character_id: player.active_character.id} %>
      </div>
      <% end %>
    </div>
    <div class="col-sm-2 hidden-xs">&nbsp;</div>
  </div>

<!-- needed for pusher & javascript to render async correctly -->
  <div id="narigraph-template">
    <div class="row">
      <div class="hidden-xs col-sm-2">&nbsp;</div>
      <div class="col-xs-12 col-sm-8">
        <div class="narigraph">
          <div class="row">
            <div class="col-xs-12">
              <p class="message"></p>
            </div>
            <div class="col-xs-12">
              <div class="pull-right">
                <p><strong></strong>
                  <small></small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">&nbsp;</div>
    </div>
  </div>
</div>

<%= javascript_include_tag "narigraphs/index" %>
