<style>
.navbar li {
  float: left;
}
</style>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="nav navbar-nav">
          <% if current_user %>
            <li><%= link_to current_user.username, user_path(current_user)  %></li>
            <li><%= link_to "View Games", games_index_path %></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Signup", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
