<div class='container'>
  <div class='row'>
    <div class='col-xs-12 col-sm-10 col-md-8 col-lg-6'>
      <h1>Welcome to Dungeon World</h1>
      <p>This is version 0.1 of Dungeon World Online.  If you've never heard of
      <%= link_to 'Dungeon World', 'http://www.dungeon-world.com/' %>,
      it's a tabletop RPG written by
      <%= link_to 'Adam Koebel', 'https://twitter.com/skinnyghost' %> and
      <%= link_to 'Sage LaTorra', 'https://twitter.com/olde_fortran' %> (eventually
      I'd like to loop them in and get their feedback, but I haven't yet).
      If you have heard of it but don't know how to play, you can read
      the rules <%= link_to 'here.', 'http://www.dungeonworldsrd.com/' %>
      I made this because I wanted to play it more, but it's
      hard to find time.  If you are reading this and we haven't met,
      please reach out to me <%= link_to '@sewardhorace', 'https://twitter.com/sewardhorace' %>
      - I'd love to hear how you found your
      way here, as well as any feedback.  This is a work in progress and I have
      lots of ideas that aren't implemented yet.  In fact, it's pretty bare-bones at the moment.  Enjoy!</p>
      <br>
      <p>Special thanks to <%= link_to 'Mike Kavouras', 'https://twitter.com/mikekavouras' %>
      for helping me learn how to make stuff
      with computers and for doing a lot of stuff for this project in particular.</p>
    </div>
  </div>
</div>
