<div class='container'>
  <div class='row'>
    <div class='col-xs-12 col-sm-10 col-md-8 col-lg-6'>
      <h1>Welcome to Dungeon World</h1>
      <p>
        This is version 0.1 of Dungeon World Online.
        <%= link_to 'Dungeon World', 'http://www.dungeon-world.com/' %>
        is a tabletop RPG written by
        <%= link_to 'Adam Koebel', 'https://twitter.com/skinnyghost' %> and
        <%= link_to 'Sage LaTorra', 'https://twitter.com/olde_fortran' %>.
        You can read
        the rules <%= link_to 'here.', 'http://www.dungeonworldsrd.com/' %>
      </p>
      <br>
      <p>
        <strong>How it works: </strong>Dungeon World Online is basically a chat room with some dice rolling built in.
        Eventually there will be a more in-depth character creation system, actual Dungeon World "moves",
        and some room to hack together your own house rules.  Right now - log in, look for a game to join
        (or start your own), create a character, and join the fray.
      </p>
      <br>
      <p>
        Special thanks to <%= link_to 'Mike Kavouras', 'https://twitter.com/mikekavouras' %>
        for helping me learn how to make stuff
        with computers and for doing a lot of stuff for this project in particular.
      </p>
    </div>
  </div>
</div>
