<div class="table-responsive">
  <table class="table players">
    <tr>
      <th>GM</th>
      <th><%= game.game_master.username %></th>
    </tr>
    <% game.players.each do |p| %>
    <tr>
      <% if p.characters.count > 0 %>
      <td class="overflow">
      <% p.characters.each do |c|%>
      <%= link_to c.name, character_path(c) %>,
      <% end %>
      </td>
      <% else %>
      <td>(no character yet)</td>
      <% end %>
      <td><%= link_to p.user.username, user_path(p.user) %></td>
    </tr>
    <% end %>
  </table>
</div>
<strong>Description:</strong>
<p><%= game.description %></p>
<br>
<%= link_to 'Join', join_game_path(game_id: game.id, user_id: current_user.id), method: :post %>
<br>
<%= link_to 'Read the Story So Far...', game_narigraphs_path(game) %>
<br>
<%= link_to 'Back to All Games', games_path %>
