<style>
.games td.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}
</style>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4>All Games</h4>
      <div class="table-responsive">
        <table class="table games">
            <tr>
              <th>Go</th>
              <th>GM</th>
              <th>Description</th>
              <th>Start Date</th>
              <th>Players</th>
              <th>Posts</th>
            </tr>
          <% @games.each do |game| %>
            <tr>
              <% if current_user.is_playing_game?(game) %>
                <td><%= link_to "Enter", game_path(game) %></td>
              <% else %>
                <td><%= link_to "View", game_path(game) %></td>
              <% end %>
              <td><%= link_to game.gm.username, user_path(game.gm) %></td>
              <td class="overflow"><%= game.description %></td>
              <td><%= game.timestamp %></td>
              <td><%= game.party_members.count %></td>
              <td><%= game.narigraphs.count %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <%= link_to 'Start New Game', new_game_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
