<style>
.players td.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}
</style>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4>Dungeon World Game #<%= game.id %></h4>
      <%= render "show_view_players" %>
      <div>
        <strong>Description:</strong>
        <p><%= game.description %></p>
      </div>
      <% if game.game_master == current_user %>
      <%= render "show_game_master_links" %>
      <% elsif current_user.is_playing? (game.id) %>
      <%= render "show_player_links" %>
      <% else %>
      <%= render "show_not_player_links" %>
      <% end %>
    </div>
  </div>
</div>
