= form_for @character do |f|
    -# - if @character.errors.any?
    -#     #error_explanaton
    -#         %h2= pluralize(@character.errors.count, "fuckup")+"prohibited this article from being saved:"
    -#         %ul
    -#             - @character.errors.full_messages.each do |msg|
    -#                 %li= msg
    .form-group
        = f.label "Character Name:"
        = f.text_field :name, class: "form-control"
    .form-group
        = f.label "Description:"
        = f.text_area :description, class: "form-control", rows: 3
    .btn-lg= f.submit "Save Changes"
