


<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Create a Character</h2>
      <%= form_for @character, url: game_characters_path do |f| %>
      <%= render partial: "klasses/klass_for_character_creation", locals: {klass: Klass.first.klass_data, form: f} %>
      <%= f.submit "Create", class: "btn btn-default" %>
      <% end %>
      <%= link_to 'Back', game_path(params[:game_id]), class: "btn btn-default" %>

    </div>
  </div>
</div>

<script>
$(document).ready(function () {
  window.char_data = {
    abilities:{},
    looks:{},
  };

  $('form').submit(function(e){
    e.preventDefault();
    var data = {
      char_data : window.char_data
    };
    $.ajax({
      type : "POST",
      url :  '<%= game_create_character_path(game)%>',
      dataType: 'json',
      contentType: 'application/json',
      data : JSON.stringify(data),
      success: function(response){
        window.location.href = response.redirect;
      },
      error: function(xhr, status, err) {
        console.error(xhr, status, err.toString());
      },
    });
  });
});
</script>
