<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Character Overview</h2>
      <p>
        <strong>Name:</strong>
        <%= @character.name %>
        <div>
          <% if @character.is_active %>
          <%= '(Active)' %>
          <% else %>
          <%= '(Inactive)' %>
          <%= link_to 'Make Active', set_active_path(@character), method: :post, class: "btn" %>
          <% end %>
        </div>
        <div>
          <% if @character.is_party_member %>
          <%= 'Party Member' %>
          <% else %>
          <%= '(Not party member)' %>
          <%= link_to 'Join Party', join_party_path(@character), method: :post, class: "btn" %>
          <% end %>
        </div>
      </p>
      <p>
        <strong>Description:</strong>
        <p>description or something</p>
      </p>
      <% if current_user.owns_character?(@character) %>
      </p>
      <%= link_to 'Edit', edit_character_path(@character), class: "btn" %>
      <%= link_to 'Delete', character_path(@character),
              method: :delete,
              data: { confirm: 'Send this character to the netherworld?' },
              class: "btn" %>
      <% end %>
      </p>
      <p>
        <strong>Back to Game:</strong>
        <%= link_to 'Game #' + @character.game.id.to_s, game_path(@character.game), class: "btn" %>
      </p>
    </div>
  </div>
</div>
