<!DOCTYPE html>
<html>
<head>
  <title>Dwapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//js.pusher.com/2.2/pusher.min.js"></script>
  <script>
  // If your Heroku application is within the EU region,
  // uncomment the followling lines
  // Pusher.host = 'ws-eu.pusher.com';
  // Pusher.sockjs_host = 'sockjs-eu.pusher.com';

  var pusher = new Pusher('<%= Pusher.key %>'); // uses your APP KEY
  var channel = pusher.subscribe('test_channel');
  channel.bind('greet', function(data) {
    alert(data.greeting);
  });
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
