<!DOCTYPE html>
<html>
<head>
  <title>Dungeon World</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="//js.pusher.com/2.2/pusher.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= render "shared/navigation" %>
  <%= render "shared/flash" %>
  <%= yield %>

  <%= yield :javascripts %>

</body>
</html>
