<style>
ul.inline-list {
  padding-left: 0px;
}
ul.inline-list li {
  display:inline;
}
.inline-list li:after { content: ","; }
.inline-list li:last-child:after { content: ""; }

.black-bar {
  background-color: black;
  color: white;
  margin-bottom: 5px;
}
.black-bar h4 {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 6px;
  margin-right: 6px;
}
.black-bar p {
  padding-top: 6px;
  margin-bottom: 0px;
}
.black-bar input {
  display: inline-block;
  color: black;
  line-height: 0px;
  padding-top: 4px;
}

.small-radios label {
  font-weight: normal;
}
.selectable {
  cursor: pointer;
}
.selected {
  border: 1px solid #8e8e8e;
  border-radius: 6px;
  padding: 2px;
  margin: -3px;
}
</style>

<h3 class="text-uppercase"><%= klass["name"] %></h3>

<div class="row">

  <div class="col-xs-12 col-sm-7">
    <div class="black-bar">
      <h4>Name</h4>
      <%= form.text_field :name, id: "name" %>
    </div>

    <% klass["names"].each do |category| %>
      <ul class="inline-list">
        <em><%= category["name"] %>:</em>
      <% category["options"].each do |name| %>
        <li class="names selectable"><%= name %></li>
      <% end %>
      </ul>
    <% end %>
  </div>

  <div class="col-xs-12 col-sm-5">
    <div class="black-bar">
      <h4>Look</h4>
    </div>
  <% klass["looks"].each do |category| %>
    <ul class="<%=category['name']%> inline-list">
    <% category["options"].each do |option| %>
      <li class="selectable looks"><%= option %></li>
    <% end %>
    </ul>
  <% end %>
  </div>

  <div class="col-xs-12 col-sm-12">
    <%= render partial: "characters/new_character_abilities_picker" %>
  </div>

  <div class="col-xs-12 col-sm-12">
    <div class="row">
      <div class="col-xs-12 col-sm-5">
        <div class="black-bar">
          <h4>Alignment</h4>
        </div>
        <dl>
        <% klass["alignment"].each do |a| %>
          <dt class="text-uppercase">
            <%= radio_button_tag :alignment, a %>
            <%= label :alignment_option, a["name"] %>
          </dt>
          <dd><%= a["text"] %></dd>
        <% end %>
        </dl>

        <div class="black-bar">
          <h4>Race</h4>
        </div>
        <dl>
          <dt class="text-uppercase">
          <%= radio_button_tag :description, "elf" %>
          <%= label :gear_stuff, "elf" %>
          </dt>
          <dd>Elves are crazy</dd>
        </dl>
        <dl>
          <dt class="text-uppercase">
          <%= radio_button_tag :description, "human" %>
          <%= label :gear_stuff, "human" %>
          </dt>
          <dd>Normal dude</dd>
        </dl>

        <div class="black-bar">
          <h4>Bonds</h4>
        </div>
      </div>

      <div class="col-xs-12 col-sm-7">
        <div class="black-bar">
          <h4>Starting Moves</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12">
    <div class="black-bar">
      <h4>Gear</h4>
    </div>
    <div class="small-radios">
    <%= radio_button_tag :description, "sword" %>
    <%= label :gear_stuff, "a sword" %>
    <br>
    <%= radio_button_tag :description, "bow" %>
    <%= label :gear_stuff, "a bow" %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12">
    <div class="black-bar">
      <h4>Description</h4>
    </div>
    <%= text_area_tag :description, class: "form-control", id: "description", rows: 3 %>
  </div>

</div>


<script>

$(document).ready(function () {
  // name selector
  $('.names').click(function() {
    $('#name').val($(this).text());
    window.char_data.name = $(this).text();
    $('.names').removeClass('selected');
    $(this).addClass('selected');
  });
  $('#name').on('input', function() {
    $('.names').removeClass('selected');
    window.char_data.name = $(this).val();
  });

  // looks selector
  $( '.looks' ).click(function () {
    var category = $(this).parent()[0].className.split(/\s+/)[0];
    var value = $(this).html()

    $('.'+category).children().removeClass('selected');
    if (window.char_data.looks[category] === value){
      delete window.char_data.looks[category];
    } else {
      window.char_data.looks[category] = value;
      $(this).addClass('selected');
    }
  });

  // $('form').submit(function( event ) {
  //   $('input:last').after('<input type="hidden" name="character[char_data]" value="'+window.char_data+'">');
  // });
});

</script>
